@import '../../bootstrap';

@import '~bootstrap/buttons';

.btn {
  text-transform: uppercase;

  &:focus,
  &:active:focus {
    outline: none;
  }

  .icon {
    text-transform: lowercase;
    line-height: $line-height;
  }
}