@import '../../bootstrap';

@import '~bootstrap/buttons';

.btn {
  text-transform: uppercase;

  &:focus,
  &:active:focus {
    outline: none;
  }

  .icon {
    margin-top: -0.25rem;
    vertical-align: middle;
    display: inline-block;

    text-transform: lowercase;
  }
}