@import '../src/reset';

.view {
  padding: $spacer * 2 0;

  section {
    & + section {
      margin-top: $spacer * 2;
    }

    & > h1 {
      margin-bottom: 0;

      font-weight: normal;
      text-transform: lowercase;

      &:before {
        content: '_';
      }
    }

    & > div {
      & > * {
        margin-top: $spacer / 2 !important;
      }
    }
  }

  .buttons,
  .checkboxes {
    & > div {
      & > * {
        margin-right: $spacer / 2;
      }
    }
  }

  .checkboxes {
    & > div {
      & > * {
        margin-left: $spacer / 2;
      }
    }
  }

  .checkboxes,
  .icons,
  .loaders,
  .paginations,
  .tooltips {
    & > div {
      text-align: center;
    }
  }
}