@import '../../bootstrap';

@import '~bootstrap/nav';

.nav {
  &.nav-tabs {
    $border: 0.2rem;

    margin: 0;
    border-bottom-width: $border / 2;

    user-select: none;

    .nav-item {
      margin-bottom: $border * -1;

      .nav-link {
        border: $border transparent;
        border-style: none none solid;

        color: $body-color;

        & + .nav-link {
          margin-left: 0;
        }

        &:hover {
          color: $link-color;
        }

        &:focus {
          outline: none;
        }

        &.active,
        &.disabled {
          &:hover {
            color: $body-color;
          }
        }

        &.active {
          background: none;
          border-color: $brand-primary;
          cursor: default;
        }

        &.disabled {
          opacity: 0.5;
        }
      }
    }
  }
}