@import '../../bootstrap';

@import '~bootstrap/modal';

.modal-dialog {
  margin: 0 auto;

  .modal-header {
    .btn {
      &:first-child {
        padding: 0;
        border: 0;
        float: right;
      }
    }
  }

  .modal-body {
    :last-child {
      margin-bottom: 0;
    }
  }

  .modal-footer {
    .btn {
      & + .btn {
        margin-left: $spacer / 2;
      }
    }
  }
}