@import '../../bootstrap';

@import '~bootstrap/forms';

.form-group--checkbox {
  $size: $spacer-y * 1.5;

  display: inline;

  font-size: 0;

  .form-control {
    padding: 0;
    width: $size;
    height: $size;
    background-image: none !important;
    position: relative;
    display: inline-block;
    cursor: pointer;

    &.form-control-danger {
      color: $brand-danger;
    }

    &.form-control-warning {
      color: $brand-warning;
    }

    &.form-control-success {
      color: $brand-success;
    }

    &.form-control-checked {
      .icon {
        opacity: 1;
      }
    }

    &.form-control-disabled {
      background-color: $input-bg-disabled;
      cursor: $cursor-disabled;
    }

    .icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;

      font-size: $size * 0.75 !important;
      text-align: center;
      line-height: $size;
    }
  }
}